# This is Git's per-user configuration file.
[user]
	name = Peter Lukacs
	email = lukacs.peter.andras@gmail.com
[alias]
	co = checkout
    st = status
    # commit added files with message
    cm = !git commit -m
    # add tracked files and commit them with message
    cmu = !git add -u && git commit -m
    # add all (tracked/untracked) files and commit them with message
    cma = !git add -A && git commit -m
    # amend added files into the last commit with the same message
    ca = !git commit --amend --no-edit
    # add tracked files and amend it into the last commit with the same message
    cau = !git add -u && git commit --amend --no-edit
    # add all (tracked/untracked) files and amend it into the last commit with the same message
    caa = !git add -A && git commit --amend --no-edit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[gpg]
	program = gpg
[commit]
	gpgsign = false
[core]
	editor = subl -nw
[merge]
    tool = sublimerge
[mergetool]
    prompt = false
[mergetool "sublimerge"]
    cmd = subl -n --wait \"$LOCAL\" \"$MERGED\" \"$REMOTE\" \"$BASE\" --command \"sublimerge_diff_views\"
    trustExitCode = false
[diff]
    tool = sublimerge
[difftool]
    prompt = false
[difftool "sublimerge"]
    cmd = subl -n --wait \"$LOCAL\" \"$REMOTE\" --command \"sublimerge_diff_views {\\\"left_read_only\\\": true, \\\"right_read_only\\\": false}\"
